---
layout: default
permalink: licenses/
class: license-types
title: Licenses
---

<h2>Licenses les plus connues</h2>

{% assign featured_licenses = site.licenses | where:"featured",true %}
{% for license in featured_licenses | sort: 'path' %}
  {% include license-overview.html %}
{% endfor %}

<h2>Autres licenses</h2>
<p>
  Certaines communautés semblent utiliser des licences spécifiques. Par exemple,
  de nombreux développeurs Perl choisissent la licence Artistique.
</p>
{% assign licenses = site.licenses | where:"featured",false | where:"hide-from-license-list",false %}
{% for license in licenses %}
  {% include license-overview.html %}
{% endfor %}
